################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Question1/IDL.Question1.Sorter/.vs/IDL.Question1.Sorter/v15/Server/sqlite3
